<head th:fragment="header">
    <title>Kid S'Banken demo application</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://sbanken.no/css/global?v=Od8feDPeI3PUgBx_MJi7aa1dEXJmN_0Gzh5UFUqP72s1" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="app.css" rel="stylesheet" type="text/css"/>
</head>